Code challenge: Farm harvest management
=======================================

In this code challenge, we will assist a farmer in calculating the total harvest from two fields (wheat and potatoes) and the overall expenses and profits for this season.

Learning objectives
-------------------

In this train, we will:

* Understand how to perform basic arithmetic operations in a Jupyter notebook.
* Know how to assign numerical values to variables.
* Know how to use the print() function to display our results.

Instructions
------------

* **This code challenge does not count for marks.**
* Do not add or remove cells in this notebook.
* Answer the questions according to the specifications provided.
* Use the given cell in each question to see if your function matches the expected outputs.

Challenge 1
-----------

Calculate the total harvest for the farmer.

In [ ]:
total_kgs_wheat_harvest = 2050
total_kgs_potato_harvest = 3600

total_kgs_harvest = # add your code here
print("Total harvest in kilograms:", total_kgs_harvest)

**Expected outputs:**

In [ ]:
Total harvest in kilograms: 5650

Challenge 2
-----------

Calculate the total expenses (in dollars) and print the result.

In [ ]:
seed_expense = 650
labour_expense = 3070

total_expenses_dollars = # add your code here
print() # add your code here

**Expected outputs:**

In [ ]:
Total expenses in dollars: 3720

Challenge 3
-----------

Calculate the total revenue (in dollars) and print the result.

In [ ]:
price_per_kg_wheat = 2
price_per_kg_potato = 1.4

total_revenue_dollars = # add your code here
print() # add your code here

**Expected outputs:**

In [ ]:
Total revenue in dollars: 9140

Challenge 4
-----------

Calculate the total profit (in dollars) and print the result.

In [ ]:
total_profit_dollars = # add your code here
print() # add your code here

**Expected outputs:**

In [ ]:
Total profit in dollars: 5420